#symbols {
  display: none;
  font-family: sans-serif;
}

#symbols td {
  border: 1px solid #fff;
  padding: 2px;
  font-size: 12px;
  background-color: #dbe3e6;
}

#symbols th {
  color: #000;
  border: 1px solid #fff;
  padding: 2px;
  font-size: 14px;
  background-color: #d4e1e6;
}
